{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf",
    "arrowParens": "always",
    "trailingComma": "es5",
    "bracketSameLine": false
}
